{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}_thelostpetals_{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>
    <!-- Header -->
    {% include "header.html" %}

    <!-- Page specific content -->
    <main>{% block content %} {% endblock %}</main>

    <!-- Footer -->
    {% include "footer.html" %}
  </body>
</html>
